<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.sgz"
    android:versionCode="26"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <application
        android:name=".AppContext"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".AppStart"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.About"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.FeedBack"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.ReportUi"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.Main"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.ChannelList"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.LoginDialog"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.NewsDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.SoftwareLib"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.SoftwareDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.BlogDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.QuestionTag"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.QuestionDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.QuestionPub"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.TweetDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.TweetPub"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.MessageDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.MessagePub"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.MessageForward"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.CommentPub"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.Setting"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Preference" />
        <activity
            android:name=".ui.Search"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.UserInfo"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.UserCenter"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.UserFavorite"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.UserFriend"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.ImageDialog"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent" />
        <activity
            android:name=".ui.ImageZoomDialog"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ZoomLight.Fullscreen" />
        <activity
            android:name=".ui.ScreenShotShare"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight.Fullscreen" />
        <activity
            android:name=".ui.Capture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.SlideTop"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".ui.Signin"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.CDVActivity1"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- S wtlogin -->
        <activity
            android:name=".ui.Login"
            android:label="@string/login_dialog_login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="oicq.wtlogin_sdk_demo.QUICKLOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginQuick"
            android:label="@string/login_dialog_login_qq" >
            <intent-filter>
                <action android:name="oicq.wtlogin_sdk_demo.QUICKLOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginVCode"
            android:label="@string/wtlogin_verifycode" >
        </activity>
        <activity
            android:name=".ui.LoginOk"
            android:label="@string/wtlogin_loginok" >
        </activity>
        <activity
            android:name=".ui.LoginQRCode"
            android:label="@string/lbl_scan_qrcode" >
        </activity>
        <activity
            android:name=".ui.DeviceLock"
            android:label="DeviceLock"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name=".ui.DeviceProtect"
            android:label="@string/wtlogin_deviceprotect" >
        </activity>
        <activity
            android:name=".ui.DeviceLockVerify"
            android:label="DeviceLockVerify" >
        </activity>

        <!-- 非手Q是不可以有这个声明的:经咨询kinkahuang,下面配置只是给手Q用的，所以直接注释掉 -->
        <!--
        <permission android:name="oicq.wlogin_sdk.permission.WloginProvider.READ"></permission>
        <permission android:name="oicq.wlogin_sdk.permission.WloginProvider.WRITE" ></permission>
        <provider
            android:name="oicq.wlogin_sdk.request.WloginProvider"
            android:authorities="oicq.wlogin_sdk.WloginProvider"
            android:readPermission="oicq.wlogin_sdk.permission.WloginProvider.READ"
            android:writePermission="oicq.wlogin_sdk.permission.WloginProvider.WRITE" >
        </provider>
        -->
        <!-- E wtlogin -->

        <!-- S OpenQQ -->
        <!-- 应用吧 -->
        <activity
            android:name="com.tencent.open.yyb.AppbarActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.tencent.connect.avatar.ImageActivity" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101125247" />
                <!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        <!-- E OpenQQ -->


        <!-- S 个人中心 -->
        <activity
            android:name=".ui.MsgCenter"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.EventNotice"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.UserFavor"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <!-- E 个人中心 -->

        <receiver android:name=".ui.BroadCast" >
            <intent-filter>
                <action android:name="com.tencent.sgz.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".fragment.HomeFragment$HomeBroadcastReceiver" >
            <intent-filter>
                <action android:name="TAB1_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitleBar"
            android:label="@string/title_activity_main" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>